# Kopiraj ovu datoteku u novu pod imenom  .env.local  i upiši svoje vrijednosti.
# Nalaze se u Supabase: Project Settings -> API
NEXT_PUBLIC_SUPABASE_URL=https://TVOJ-PROJEKT.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=tvoj-anon-public-kljuc
